@page "/"
@using Newtonsoft.Json
@using TechnologyCharacterGenerator.Child.Common.BusinessLogic

@inject HttpClient HttpClient
@inject ITechnologyCharacterCreator TechnologyCharacterGenerator
@inject ILogger<Index> Logger

@inject IUserViewModelUpdateReceiver UserViewModelUpdateReceiver

<h1>Technology Character Generator - @ApplicationName</h1>

@*//TODO ReadOnly should be controlled by whether the app is hosted in the parent app or not.*@
<UserForm Id="childUserForm" IsCollapsed="true" bind-Model="@UserViewModel" ModelSubmittedAsync="@GeneratePersonaAsync" ReadOnly="@true" />

@if (null != TechnologyCharacterViewModel)
{
    <TechnologyCharacter Model="@TechnologyCharacterViewModel" />
}

@functions {
    UserViewModel UserViewModel { get; set; } = new UserViewModel();

    TechnologyCharacterViewModel TechnologyCharacterViewModel { get; set; }

    string ApplicationName { get; set; }

    async Task GeneratePersonaAsync(UserViewModel userViewModel)
    {
        Logger.LogInformation("Generating Persona.");
        TechnologyCharacterViewModel = await Task.Run(() => TechnologyCharacterGenerator.GenerateTechnologyCharacter(userViewModel));

        this.StateHasChanged();
    }

    protected override async Task OnInitAsync()
    {
        var application = await HttpClient.GetJsonAsync<ChildApplicationModel>("application.json");

        Logger.LogInformation($"Application: {JsonConvert.SerializeObject(application)}");
        ApplicationName = application.ApplicationName;

        await JSRuntime.Current.InvokeAsync<object>(
            "userViewModelUpdater.init", new DotNetObjectRef(UserViewModelUpdateReceiver));

        UserViewModelUpdateReceiver.UserViewModelUpdated += model =>
        {
            UserViewModel = model;

            this.StateHasChanged();
        };

        UserViewModelUpdateReceiver.UserViewModelSubmitted += async model => await GeneratePersonaAsync(model);
    }
}