
@inject ILogger<TechnologyCharacter> Logger

<div class="technologyCharacter form-row">
    <DisplayField Id="characterName" Label="Character Name" Value="@Model.CharacterName" />

    <DisplayField Id="characterClass" Label="Character Class" Value="@Model.Class" />

    <DisplayField Id="hitPoints" Label="Hit Points" Value="@Model.HitPoints" />

    <DisplayField Id="strength" Label="Strength" Value="@Model.Strength" />

    <DisplayField Id="agility" Label="Agility" Value="@Model.Agility" />

    <DisplayField Id="intelligence" Label="Intelligence" Value="@Model.Intelligence" />

    <DisplayField Id="charisma" Label="Charisma" Value="@Model.Charisma" />

    <DisplayField Id="wisdom" Label="Wisdom" Value="@Model.Wisdom" />

    <DisplayField Id="luck" Label="Luck" Value="@Model.Luck" />

    <DisplayField Id="constitution" Label="Constitution" Value="@Model.Constitution" />

    <DisplayField Id="perception" Label="Perception" Value="@Model.Perception" />
</div>

@functions
{
[Parameter]
TechnologyCharacterViewModel Model { get; set; }
}