
@using __Blazor.TechnologyCharacterGenerator.Child.Common
@using __Blazor.TechnologyCharacterGenerator.Child.Common.Models

<div class="technologyCharacter form-row m-3">
    <TechnologyCharacterProperty Model="@Model" Property="@(m => m.CharacterName)" />

    <TechnologyCharacterProperty Model="@Model" Property="@(m => m.Class)" />

    <TechnologyCharacterProperty Model="@Model" Property="@(m => m.HitPoints)" />

    <TechnologyCharacterProperty Model="@Model" Property="@(m => m.Strength)" />

    <TechnologyCharacterProperty Model="@Model" Property="@(m => m.Agility)" />

    <TechnologyCharacterProperty Model="@Model" Property="@(m => m.Intelligence)" />

    <TechnologyCharacterProperty Model="@Model" Property="@(m => m.Charisma)" />

    <TechnologyCharacterProperty Model="@Model" Property="@(m => m.Wisdom)" />

    <TechnologyCharacterProperty Model="@Model" Property="@(m => m.Luck)" />

    <TechnologyCharacterProperty Model="@Model" Property="@(m => m.Constitution)" />

    <TechnologyCharacterProperty Model="@Model" Property="@(m => m.Perception)" />
</div>

@functions
{
[Parameter]
TechnologyCharacterViewModel Model { get; set; }
}