@using Microsoft.JSInterop

<div class="card" id="@Id">
    <div class="card-header" id="@(Id)-heading">
        <h5 class="mb-0">
            <a class="btn btn-link" data-toggle="collapse" data-target="#@(Id)-content" aria-expanded="@((!IsCollapsed).ToString().ToLower())" aria-controls="@(Id)-content">
                @Title <i class="fas @((IsCollapsed ? "fa-caret-down" : "fa-caret-up")) ml-1"></i>
            </a>
        </h5>
    </div>

    <div id="@(Id)-content" class="collapse" aria-labelledby="@(Id)-heading">
        <div class="card-body">
            @ChildContent
        </div>
    </div>
</div>

@functions
{

    [Parameter]
    private string Id { get; set; }

    [Parameter]
    private string Title { get; set; }

    [Parameter]
    private RenderFragment ChildContent { get; set; }
    
    [Parameter]
    private bool IsCollapsed { get; set; } = false;

    [Parameter]
    private Action<bool> IsCollapsedChanged { get; set; } = (isCollapsed) => {};

    [JSInvokable]
    public void UpdateIsCollapsed(bool isCollapsed)
    {
        IsCollapsed = isCollapsed;
        IsCollapsedChanged(isCollapsed);

        StateHasChanged();
    }

    protected override async Task OnInitAsync()
    {
        await JSRuntime.Current.InvokeAsync<object>(
            "foundation.collapsiblePanel.init",
            new DotNetObjectRef(this), Id, IsCollapsed);
    }
}
