@using TechnologyCharacterGenerator.Foundation.Models

<CollapsiblePanel Id="@Id" Title="User Description" bind-IsCollapsed="@IsCollapsed">
    <form onsubmit="@GeneratePersonaAsync">

        <Field For="@($"{Id}-name")" Label="Name">
            <input type="text" class="form-control" id="@(Id)-name" bind="@Model.Name" placeholder="Enter your name" />
        </Field>

        <Field For="@($"{Id}-month")" Label="Birth Date">
            <div class="row justify-content-between no-gutters">
                <select class="form-control col-5" id="@(Id)-month" bind="@BirthMonthWithChangeEvent">
                    <option selected></option>
                    @foreach (var month in Months)
                    {
                        <option value="@month.MonthNumber">@month.Month</option>
                    }
                </select>

                <select class="form-control col-5" id="@(Id)-day" bind="@Model.BirthDay" disabled="@(DaysInMonth < 1)">
                    <option selected></option>
                    @for (int i = 1; i <= DaysInMonth; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
            </div>
        </Field>

        <Field For="@($"{Id}-favorite")" Label="Favorite Food">
            <input type="text" class="form-control" id="@(Id)-favorite" bind="@Model.FavoriteFood" placeholder="Enter your favorite food" />
        </Field>

        <button type="submit" class="btn btn-primary">Generate Character</button>
    </form>
</CollapsiblePanel>

@functions
{
    [Parameter]
    private UserViewModel Model { get; set; } = new UserViewModel();

    [Parameter]
    private Action<UserViewModel> ModelChanged { get; set; } = (model) => { };

    [Parameter]
    private bool IsCollapsed { get; set; } = false;

    [Parameter]
    private Action<bool> IsCollapsedChanged { get; set; } = (isCollapsed) => { };

    [Parameter]
    private string Id { get; set; }

    public int BirthMonthWithChangeEvent
    {
        get => Model.BirthMonth;
        set
        {
            Model.BirthMonth = value;

            MonthChanged();
        }
    }

    public int DaysInMonth { get; set; } = 0;

    public void MonthChanged()
    {
        var month = Months.FirstOrDefault(m => m.MonthNumber == Model.BirthMonth);

        if (month != default((int MonthNumber, string Month, int DaysInMonth)))
        {
            DaysInMonth = month.DaysInMonth;
        }
        else
        {
            DaysInMonth = 0;
        }
    }

    public async Task GeneratePersonaAsync(UIEventArgs e)
    {
    }

    private static List<(int MonthNumber, string Month, int DaysInMonth)> Months = new List<(int MonthNumber, string Month, int DaysInMonth)>()
    {
    (MonthNumber: 1,  Month: "January",   DaysInMonth: 31),
    (MonthNumber: 2,  Month: "February",  DaysInMonth: 29),
    (MonthNumber: 3,  Month: "March",     DaysInMonth: 31),
    (MonthNumber: 4,  Month: "April",     DaysInMonth: 30),
    (MonthNumber: 5,  Month: "May",       DaysInMonth: 31),
    (MonthNumber: 6,  Month: "June",      DaysInMonth: 30),
    (MonthNumber: 7,  Month: "July",      DaysInMonth: 31),
    (MonthNumber: 8,  Month: "August",    DaysInMonth: 31),
    (MonthNumber: 9,  Month: "September", DaysInMonth: 30),
    (MonthNumber: 10, Month: "October",   DaysInMonth: 31),
    (MonthNumber: 11, Month: "November",  DaysInMonth: 30),
    (MonthNumber: 12, Month: "December",  DaysInMonth: 31)
    };

}
